.btn-default {
    width: 80px;
    background-color: transparent;
    color:slategrey;
}

.navbar {
    background-color: dark-grey;
    color:slategrey;
}

.navbar-right {
    margin-top:20px;
    margin-right:10px;
}

.top-buffer {
    margin-top:100px;
}

body {
    padding-top:20px;
    font-family:"Questrial", sans-serif;
    background-color: black;
    color: slategrey;
}

h3 {
    font-weight: normal;
    color: slategrey;
}
