.btn-default {
    width: 100px;
    background-color: transparent;
    color:slategrey;
    font-size:85%;
}

.navbar {
    background-color: dark-grey;
    color:slategrey;
}

.navbar-right {
    margin-top:20px;
    margin-right:10px;
}

.top-buffer {
    margin-top:100px;
}

body {
    padding-top:20px;
    font-family:"Questrial", sans-serif;
    font-size:170%;
    background-color: black;
    color: slategrey;
}

h3 {
    font-weight: normal;
    font-size:170%;
    color: slategrey;
}

h4 {
    font-size:130%;
}

h5 {
    font-size:100%;
}

nav {
    background-color:#191919;
}

